<input type="txt" 
       class="form-control" 
       ng-model="ngModel.first" 
       style="width:130px;display:inline" 
       placeholder="Firstname"
       />
<input type="txt" 
       class="form-control" 
       ng-model="ngModel.mid"
       style="width:60px;display:inline"
       ng-if="!isMidHidden"
       placeholder=""
       />
<input type="txt" 
       class="form-control" 
       ng-model="ngModel.last" 
       style="width:130px;display:inline"
       placeholder="Lastname"
       />
