    <tr ng-repeat-start="node in treeNodes" ng-if="IsVisiable(node)" ng-init="formNode={_id: node._id, name: node.name}" ng-class="{warning:IsLastOpNode(node)}" ng-click="onClickNode(node)">

      <td class="td-node-name" ng-style="NodeNameTdStyle(node)">
        <a  ng-if="!node.isEditing" 
            href ng-click="SwitchFold(node)"><i class="{{CaretIcon(node)}}"></i>
            {{node.name}}
        </a>
        <div ng-if="node.isEditing" 
             class="input-group input-group-sm" >
          <input type="text" class="form-control" ng-model="formNode.name">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="Save(formNode)"><i class="fa fa-save"></i></button>
            <button class="btn btn-default" ng-click="Edit(node)"><i class="fa fa-remove"></i></button>
          </span>
        </div>
      </td>
      <td class="td-node-op"
          ng-if="conf.isShowOp">
        <button class="btn btn-xs btn-default" ng-click="ShowAddChild(node)">增加子类</button>
        <button class="btn btn-xs btn-default" ng-click="Edit(node)">修改</button>
        <a href ng-click="Delete(node)"><i class="fa fa-trash-o"></i></a>
      </td>
      <td class="td-node-sort"
          ng-if="conf.isShowSort">
        <button class="btn btn-xs btn-default" ng-style="BtnStyle_MoveTo(node, -1)" ng-disabled="!IsIncSortable(node, -1)" ng-click="MoveToPrev(node)">
          <i class="fa fa-arrow-up"></i>
        </button>
        <button class="btn btn-xs btn-default" ng-style="BtnStyle_MoveTo(node, 1)" ng-disabled="!IsIncSortable(node, 1)" ng-click="MoveToNext(node)">
          <i class="fa fa-arrow-down"></i>
        </button>
      </td>
    </tr>



    <tr  ng-repeat-end ng-if="IsAddVisiable(node)">
      <td class="td-node-name" ng-style="NodeAddTdStyle(node)" >
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" ng-model="node.newChild.name" placeholder="新建子分类">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="Create(node.newChild, node)">
              <i class="fa fa-save"></i>
            </button>
            <button class="btn btn-default" ng-click="ShowAddChild(node)">
              <i class="fa fa-remove"></i>
            </button>
          </span>
        </div>
      </td>
      <td colspan="2"> </td>
    </tr>

    <tr ng-if="conf.isShowOp">
      <td class="td-node-name" >
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" ng-model="rootNode.newChild.name" placeholder="新建分类">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="Create(rootNode.newChild, rootNode)">
              <i class="fa fa-save"></i>
            </button>
          </span>
        </div>
      </td>
      <td colspan="2"></td>
    </tr>
