<ul class="menu">
  <li ng-repeat="menu in menus"
      class="parent {{menu.color}}"
      ng-class="{active:IsActive(menu)}"
  >
      <a href ui-sref="{{menu.state}}">
        <span class="menu-icon"><i class="{{menu.icon}}"></i></span>
        <span class="menu-text">{{menu.text}}</span>
        <span class="notification" ng-if="menu.notification">{{menu.notification}}</span>
      </a>
      <ul class="child">
        <li ng-repeat="child in menu.children">
          <a href ui-sref="{{child.state}}">{{child.text}}</a>
        </li>
      </ul>
  </li>
</ul>